
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Password</title>
</head>
<body>
    <div class="container">
        <Form action="/user/userUpdatePassword" method="post">
            <h2>Update Password</h2>
            <label for="email">Email</label>
            <input id="email" type="email" name="email" placeholder="Email">
            <label for="oldpassword">Old Password</label>
            <input id="oldpassword" type="password" name="oldpassword" placeholder="NldPassword">
            <label for="newpassword">New Password</label>
            <input id="newpassword" type="password" name="newpassword" placeholder="NewPassword">
            <button>Update</button>
        </Form>
    </div>
</body>
</html>